[submodule "LeetCode-MaxPointsOnALine"]
	path = LeetCode-MaxPointsOnALine
	url = https://github.com/EtaiYaron/LeetCode-MaxPointsOnALine
[submodule "LeetCode-BinaryTreeMaxPathSum"]
	path = LeetCode-BinaryTreeMaxPathSum
	url = https://github.com/EtaiYaron/LeetCode-BinaryTreeMaxPathSum
[submodule "LeetCode-AddTwoNumbers"]
	path = LeetCode-AddTwoNumbers
	url = https://github.com/EtaiYaron/LeetCode-AddTwoNumbers
[submodule "LeetCode-MergeTwoSortedArrays"]
	path = LeetCode-MergeTwoSortedArrays
	url = https://github.com/EtaiYaron/LeetCode-MergeTwoSortedArrays
[submodule "LeetCode-EasyStairsMemoizationProblem"]
	path = LeetCode-EasyStairsMemoizationProblem
	url = https://github.com/EtaiYaron/LeetCode-EasyStairsMemoizationProblem
[submodule "LeetCode-CountPrimes"]
	path = LeetCode-CountPrimes
	url = https://github.com/EtaiYaron/LeetCode-CountPrimes
[submodule "LeetCode-BinaryTreeLevelOrderTraversal"]
	path = LeetCode-BinaryTreeLevelOrderTraversal
	url = https://github.com/EtaiYaron/LeetCode-BinaryTreeLevelOrderTraversal
[submodule "LeetCode-IsSymetricTree"]
	path = LeetCode-IsSymetricTree
	url = https://github.com/EtaiYaron/LeetCode-IsSymetricTree
[submodule "LeetCode-Atoi"]
	path = LeetCode-Atoi
	url = https://github.com/EtaiYaron/LeetCode-Atoi
[submodule "LeetCode-IsPalindrome"]
	path = LeetCode-IsPalindrome
	url = https://github.com/EtaiYaron/LeetCode-IsPalindrome
[submodule "LeetCode-Robber"]
	path = LeetCode-Robber
	url = https://github.com/EtaiYaron/LeetCode-Robber
